# AI Gateway

LITELLM_MASTER_KEY=

# OpenRouter

OPENROUTER_API_KEY=

# Premium Models

ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GOOGLE_API_KEY=

# Vector Database

QDRANT_URL=

# Environment

ENVIRONMENT=development
